.no-operations {
  font-size: 14px; }

.operations-list .operation .title {
  font-weight: bold;
  padding: 0 0 0.25em;
  margin: 0 0 10px;
  border-bottom: solid 1px #333350;
  line-height: 24px; }
.operations-list .operation .avatar .tiny {
  weight: 20px;
  height: 20px; }

.your_workspaces {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 10px #09070e;
  -moz-box-shadow: 0 0 10px #09070e;
  -webkit-box-shadow: 0 0 10px #09070e; }
  .your_workspaces .top-bar {
    background-color: #222433;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    padding: 10px; }
  .your_workspaces .workspace-list {
    background-color: #323546;
    padding: 10px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px; }
