- require_css 'views/workspace',true

.grid_15
  -infos = @workspaces.map {|workspace| DiscussionLogParse.new(workspace).workspace_log_infos}
  -if infos.flatten.blank?
    .no-operations
      最近没有活动信息
  -else
    .operations-list
      -infos.flatten.sort.each do |info|
        .operation
          =operate_info(info)

.grid_8.fright
  .your_workspaces
    .top-bar.clearfix
      .fleft.font14.bold
        工作空间(#{@workspaces.count})
      .fright
        =minibutton_remote "新建工作空间",:url=>new_workspace_path,:method=>:get
    .workspace-list
      -mplist @workspaces,:for=>Workspace