- require_css 'views/workspace',true

.grid_8.push_15
  .your_workspaces
    .clearfix
      .fleft.font14.bold
        工作空间(#{current_user.workspaces.count})
      .fright
        =minibutton_remote "新建工作空间",:url=>new_workspace_path,:method=>:get
    %div
      -mplist @workspaces,:for=>Workspace