%div
  来自#{@workspace.user.name}的空间的邀请信件
  =@message
  -join_link = "#{CoreService.project('pin-workspace').url}workspaces/#{@workspace.id}/memberships/join?code=#{@membership.uuid_code}"
  =link_to join_link,join_link
